.button {
  font-family: inherit;
  margin-top: 30px;
  font-size: 21px;
  padding: 10px 20px;

  border-radius: 1px solid;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: ease 0.3s;
}

.button:hover {
  transform: scale(0.9);
}
