.main {
  position: relative;
  /* height: 100vh;
  background-image: url('./bg.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.main::after {
  position: absolute;
  content: '';
  width: 516px;
  height: 503px;
  top: 428px;
  left: 1032px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.5) 0%,
    rgba(115, 115, 115, 0) 100%
  );
  overflow: hidden;
}

/* .title {
  padding: 30px;
  font-size: 75px;
  font-family: 'New Amsterdam', sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.title {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 5.3rem;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.main__title {
  /* font-size: 60px;
  padding: 0; */
  /* grid-area: a; */
  font-size: 6rem;
  font-weight: 900;
  line-height: 8rem;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 4rem;
  margin-top: 7rem;
}

.main__content {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr auto;
  align-items: center;
  /* grid-template-areas:
    'a . .'
    'b c c'
    'b c c'; */
}

.photo {
  border-radius: 50%;
  border: 5px solid #d0cfcf;
  animation: me 3s ease-in-out;
  /* grid-area: b; */
  width: 18.75rem;
  max-height: 25rem;
  width: auto;
  margin: 0 auto;
}

.description {
  /* display: flex; */
  /* border-right: 0.15em solid orange; */
  /* animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
  /* grid-area: c; */

  /* padding: 30px;
  width: 100%;
  align-items: center;
  font-size: 25px;
  align-items: center;

  font-family: 'New Amsterdam', sans-serif;
  overflow: hidden;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em; */

  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: left;
  color: #d0cfcf;
  margin-bottom: 5.875rem;
}

p {
  line-height: 3.6rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* @keyframes me {
  0% {
    left: -100px;
  }

  100% {
    left: 0px;
  }
} */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}

.description__row {
  /* font-family: monospace; */
  /* font-size: 30px; */
  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 1s;
  animation-timing-function: steps(200, end);
  animation-iteration-count: 1;
}

.first {
  animation-delay: 0s;
}

.second {
  visibility: hidden;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.third {
  visibility: hidden;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.fourth {
  visibility: hidden;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.fifth {
  visibility: hidden;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@media (max-width: 450px) {
  .title {
    /* font-size: 75px; */
    padding: 0;
  }

  .main__title {
    font-size: 60px;
  }
  .main__content {
    display: grid;
    align-items: normal;
    /* grid-template-areas:
      'a a a'
      '. b .'
      'c c c'; */
    /* grid-template-rows: auto auto 1fr; */
    /* gap: 20px; */
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }

  .photo {
    margin-top: 30px;
  }
  .description {
    /* display: grid;
    justify-content: center; */
    text-align: center;
    padding: 10px;
  }
  .description__row {
    letter-spacing: normal;
    /* font-size: 28px; */
    font-size: 20px;
  }
}

@media screen and (max-height: 800px), screen and (max-width: 400px) {
  .main__title {
    font-size: 7rem;
    margin: 0;
  }
}
@media screen and (max-height: 667px), screen and (max-width: 400px) {
  .main__title {
    font-size: 5rem;
    margin: 0;
  }
}
