.about {
  position: relative;
  /* font-family: 'New Amsterdam', sans-serif; */

  height: 100svh;
  /* min-height: calc(100svh - 80px); */
  /* white-space: normal;
  width: 100%;
  background: linear-gradient(154deg, #9574ff, #ff5353); */
}

.about::after {
  content: '';
  position: absolute;
  width: 516px;
  height: 503px;
  bottom: -28rem;
  left: -109px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.5) 0%,
    rgba(115, 115, 115, 0) 100%
  );
}

p {
  white-space: normal;
}

.about__content {
  padding: 0 1.86rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gus {
  /* margin: 0 auto; */
  position: absolute;
  right: -3rem;
  bottom: 0;
  width: 37rem;
}

.about__list {
  /* font-size: 23px; */
  /* font-size: 4vmin;
  list-style: square; */
  /* animation: FadeIn 1s linear; */
  /* animation-fill-mode: both; */
  /* opacity: 0; */

  font-family: Lato;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-align: right;
}

.about__list__item {
  opacity: 0;
  text-align: left;
}

.about__list .about__list__item:nth-child(1) {
  animation-delay: 0s;
}
.about__list .about__list__item:nth-child(2) {
  animation-delay: 0.5s;
}
.about__list .about__list__item:nth-child(3) {
  animation-delay: 1s;
}
.about__list .about__list__item:nth-child(4) {
  animation-delay: 1.5s;
}
.about__list__item {
  transition: 0.2s all ease-in-out;
  /* animation: FadeIn 1s ease-in-out; */
  margin-bottom: 20px;
}

.show {
  animation: FadeIn 1s linear;
  animation-fill-mode: both;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 450px) {
  .about__content {
    grid-template-columns: none;
    padding: 0;
  }

  .about__list {
    padding: 0 30px;
  }
}

@media (max-width: 400px), screen and (max-height: 844) {
  .gus {
    height: 250px;
  }
  .about__content {
    grid-template-columns: none;
    padding: 0;
  }

  .about__list {
    padding: 0 30px;
    font-size: 3rem;
    z-index: 1;
  }
}

@media (max-width: 400px), screen and (max-height: 667px) {
  .gus {
    height: 250px;
  }
  .about__content {
    grid-template-columns: none;
    padding: 0;
  }

  .about__list {
    padding: 0 30px;
    font-size: 2rem;
    z-index: 1;
  }
}
