.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  width: 100%;
}

.navigation ul {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  font-family: 'New Amsterdam', sans-serif;
  list-style: none;
  gap: 20px;
  font-weight: 900;
  font-size: 26px;
}

li {
  transition: all ease 0.3s;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.socialmedia {
  width: 30px;
  height: 30px;
}

@media (max-width: 450px) {
  .navigation {
    display: block;
  }
  .title {
    text-align: center;
  }
}
