.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  padding: 2rem 0;
}

.navigation ul {
  display: flex;
  color: #d0cfcf;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.4rem;
  text-align: left;
  gap: 4.6rem;
  list-style: none;

  /* padding: 10px 0; */
  /* justify-content: center;
  align-items: center; */
  /* font-family: 'New Amsterdam', sans-serif; */
  /* list-style: none;
  
  font-weight: 900;
  font-size: 26px; */
}

li {
  transition: all ease 0.3s;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.socialmedia {
  width: 1.87rem;
  height: 1.87rem;
}

@media (max-width: 450px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 3rem;
  }

  .navigation ul {
    display: none;
    font-size: 2.5rem;
  }
  .title {
    text-align: center;
  }

  .socialmedia {
    width: 2.2rem;
    height: 2.2rem;
  }
}
